@import "theme-variables";

body {
	background-color: var(--theme-ui-colors-secondary);
}


.primary-container {	
	background: var(--theme-ui-colors-background);
}

.mb-3 {
	margin-bottom: 2rem;
}

.border-padded {
	padding: 1rem;
	border: 2.5px solid black;
	border-radius: 0.5rem;
}

.titular {
	font-size: 4rem;
	margin: auto auto;
	pointer-events: none;
	user-select: none;
}
.s50 {
	font-size: 0.6em;
	vertical-align: top;
}

.black-link {
	color: var(--theme-ui-colors-text);
	.muted {
		filter: opacity(50%);
	}
	&:hover {
		.muted {
			filter: none;
		}
	}
}

.icon.i2x {
	padding: 5px 10px;
}

.hero-element {
	// min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,220,0.66) 53%, rgba(0,0,220,1) 100%), url('/assets/CampusMasaryk.JPG');
	background-size: cover;
	background-position: right;
	background-color: var(--theme-ui-colors-background);
	position: relative;
	color: white !important;
	&::before {
		pointer-events: none;
		position: absolute;
		z-index: 0;
		top: -50%;
		left: 0;
		bottom: 0;
		content: 'X';
		filter: drop-shadow(0 0 0.125rem black);

		background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(230,43,30,0.7344071417629552) 35%, rgba(230,43,30,0.5019141445640756) 100%), url('/assets/50284000091_d5f29d8e0a_k.jpg');
		background-clip: text;
		background-position: left;
		background-size: cover;
		-webkit-background-clip: text;
		color: transparent;
		font-size: 166vh;
		overflow: hidden;
		max-width: 100%;
		font-weight: 700;
	}
	h1 {
		max-width: 90%;
		z-index: 1;
	}

	padding: 1rem;
	padding-bottom: 6rem;
	display: flex;
	align-items: center;
	justify-content: flex-end;

	.down-button {
		position: absolute;
		bottom: 15px;
		right: 15px;
		svg {
			transform: translateY(3px);
		}
	}
}

.site-navigation {
  a {
    color: rgba(255,255,255,0.6);
    text-decoration: none;
    &:hover {
      color: rgba(255,255,255,0.8);
    }
  }
  a[aria-current="page"] {
    color: rgba(255,255,255,1)
  }
}

.logo-anim {
	height: 4rem;
	width: 4rem;
	display: block;
	color: white;
	user-select: none;
	overflow: hidden;
	position: relative;

	p {
		width: 999%;
		animation-duration: 5s;
		animation-name: 'slide';
		animation-iteration-count: infinite;
		padding: 0;
		margin-top: 0;
		margin-bottom: 0;
	}
}
.logo-anim::before {
	content: '';
	height: 4rem;
	width: 4rem;
	position: absolute;
	box-shadow: inset 0 0 16px 5px var(--theme-ui-colors-secondary);
}
@keyframes slide {
	from {
		margin-left: 100%;
	}

	to {
		margin-left: -999%;
	}
}

// .ted-icon {
// 	display: inline;
// 	padding-left: 1rem;
// }

// .center {
// 	margin: auto 0;
// 	justify-self: center;
// }
.site-logo {
  font-weight: bold;
  a {
    color: #fff;
		text-decoration: none;
		&:hover {
			color: #fff;
		}
  }
  @media (max-width: $breakpoint-lg) {
    font-size: 20px;
  }
}

main {
	> section:nth-child(n-1) {
		padding-bottom: 60px;
	}
	> section:last-child {
		padding-bottom: 100px;
	}
}
 
.post-card {
	padding: 16px;
	border: 1px solid rgba(0,0,0,0.08);
	background-color:#fff;
	box-shadow: 0 5px 10px rgba(0,0,0,0.05);
	border-radius: 12px;
	transition: box-shadow .3s linear;
	.featured-image {
		border-radius: 12px;
		img {
			display: block;
			margin: 0;
		}
	}
	.title {
		margin: 0 0 3px;
		font-size: 20px;
		font-weight: 600;
		// a { 
		// 	color: var(--post-link-color);
		// }
	}
	&:hover {
		border: 1px solid rgba(0,0,0,0.12);
		box-shadow: 0 30px 60px rgba(0,0,0,0.1);
		// .title {
		// 	color: var(--button-alternate-color);
		// }
	}
	.meta {
		margin: 0;
		font-size: 12px;
		// color: rgba(0,0,0,0.5);
	}
	.post-content {
		margin-top: 16px;
	}
	@media (max-width: $breakpoint-md) {
		padding: 0;
		.post-content {
			padding: 16px;
			margin-top: 0;
		}
		.featured-image {
			border-radius: 12px 12px 0 0;
		}
	}
}
.article-header {
  padding: 35px 0;
  text-align: center;
  margin: 0 auto;
  h1 {
		font-size: 36px;
    font-size: clamp(18px, calc(1rem + 2vw), 36px);
    margin: 0 auto 6px;
    max-width: 768px;
    line-height: 1.3;
    font-weight: 600;
  }
  time {
    font-size: 14px;
    color: rgba(0,0,0,0.6)
  }
}
@media (max-width: $breakpoint-sm) {
  .post-card .featured-image {
    min-height: 300px;
  }
}
article figure {
	margin: 40px 0;
	text-align: center;
	figcaption {
			font-size: var(--font-size-small);
			color: var(--text-color-meta);
			margin-top: 5px;
	}
}
article blockquote {
	margin-left: 0;
	padding: 5px 5px 5px 20px;
	border-left: 3px solid rgba(0,0,0,0.1);
}
article iframe {
	border: 2px solid black;
	box-sizing: border-box;
}
article img {
	max-width: 100%;
}
.blog-post-content {
	max-width: 70ch;
	margin:0 auto;
	padding: 20px;
	line-height: 1.5;
	font-size: 20px;
}

.blog-post {
	.featured-image {
		border-radius: 12px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}
// Buttons 
.button {
	--padding: 15px;
	--margin: 20px;
	display: inline-flex;
	align-items: center;
	padding: var(--padding) calc(var(--padding) * 2);
	border: 1px solid;
	border-color: var( --button-alternate-color);
	color: var(--color);
	border-radius: 4px;
	text-decoration: none;
	appearance: none;
	font-size: 16px;
	line-height: 1;
	transition: background .3s linear;
	&:hover {
		background-color: var(--theme-ui-colors-secondary);
		color: var( --button-alternate-color);
	}
	&.-outline {
		color: var(--primary-color);
		box-shadow: 0 0 1px rgba(0,0,0,0.6);
		background: #fff;
		&:hover {
			box-shadow: 0 0 1px rgba(0,0,0,0.8);
			background: #f2f2f2;
		}
	}
	& + .button {
		margin-left: 20px;
	}
	.icon {
		display: inline-flex;
		&.-right {
			margin-left: var(--margin);
		}
		&.-left {
			margin-right: var(--margin);
		}
	}
}

.contact-form {
	margin-top: 36px;
	label {
		color: var(--label-text);
	}
	input,
	textarea {
		width: 100%;
		max-width: 100%;
		margin: 8px 0 16px;
		padding: 16px;
		border-radius: 12px;
		appearance: none;
		font-size: 18px;
		font-weight: 600;
		&:focus {
			border-color: var(--input-focus-border);
		}
	}
	textarea {
		min-height: 200px;
	}
}
.site-footer {
	display: flex;
	align-items: center;
  // background: #eee;
	text-align: center;
	font-size: 14px;
	padding: 20px 0;
	p {
		margin: 0;
		color: #fff;
	}
	a {
		font-weight: normal;
	}
	a:hover {
		color: #fff;
	}
}

.pagination {
	text-align: center;
	padding: 50px 0;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	ul li {
		display: inline-block;
		margin: 0 5px;
	}
	a {
		display: inline-block;
		padding: 10px 20px;
		font-weight: bold;
		line-height: 1;
		&.is-active {
			color: var(--header-bg);
			pointer-events: none;
		}
	}
	&.-post {
		text-align: inherit;
		padding: 20px 0;
		border-top: 1px solid rgba(0,0,0,0.1);
		margin: 50px 0 0;
		ul {
			display: flex;
			justify-content: space-between;
		}
		li:nth-child(1) {
			text-align: left;
		}
		li:nth-child(2) {
			text-align: right;
		}
		p {
			font-size: 14px;
			margin: 0 0 5px;
			color: #3c3539;
		}
		a {
			font-weight: normal;
			font-size: 16px;
			padding: 0;
		}
		.page-title {
			line-height: 1.3;
		}
	}
	@media (max-width: $breakpoint-md) {
		padding: 50px 0
		ul {
			display: flex;
			justify-content: space-between;
		}
		&.-post ul {
			display: grid;
			justify-content: normal;
			a {
				padding: 20px;
				border: 1px solid rgba(0,0,0,0.1);
				display: block;
				margin-bottom: 10px;
				border: 1px solid #3c3539;
				border-radius: 8px;
			}
		}
		.num {
			display: none;
		}
	}
}

@import "utility";

