@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply inline-flex items-center px-5 py-3 text-white border-red-500 bg-gray-100 bg-opacity-5 rounded-[4px] no-underline appearance-none text-[16px] leading-none transition-all hover:border-gray-200 border-2;
  }
  .button > .icon {
		@apply inline-flex;
	}
  .button > .icon.-right {
    @apply ml-5;
  }
  .button > .icon.-left {
    @apply mr-5;
  }
  .button + .button {
    @apply ml-5;
  }
  .gapped-image > * + * {
    @apply mt-2;
  }

  h1 + p {
    @apply mt-4;
  }
  h2 + p {
    @apply mt-2;
  }
  h3 + p {
    @apply mt-2;
  }
  p + p {
    @apply mt-1;
  }
  p + h1 {
    @apply mt-4;
  }
  p + h2 {
    @apply mt-2;
  }
  p + h3 {
    @apply mt-2;
  }
  p + ul, p + ol {
    @apply mt-2;
  }
  /* html {
    @apply bg-red-200;
  } */
  button, input[type="submit"] {
    @apply bg-red-500 pb-3 pt-2.5 px-6 text-white;
    @apply text-2xl;
    @apply font-bold;
    @apply text-white;
    @apply rounded-lg;
    @apply hover:bg-red-400;
    @apply focus:ring focus:ring-red-300;
  }
  label {
    @apply text-lg font-semibold block;
  }
  input[type="text"] {
    @apply border-2 border-t-0 border-x-0;
    @apply block;
    @apply border-red-400 bg-gray-100 p-4;
    @apply w-full;
  }
  table {
    @apply w-full;
    @apply text-red-900;
  }
  th {
    @apply font-bold border-b-2 border-b-red-400 text-xl;
  }
  tr {
    @apply bg-red-200;
  }
  tr:nth-child(n+2) {
    @apply border-t-red-300 border-t-2;
  }
  td, th {
    @apply py-1 px-2;
  }
  th {
    @apply min-w-[12ch] text-left;
  }
  label > input[type="text"] {
    @apply mt-2;
  }
  input[type="checkbox"] {
    @apply mr-3;
  }
  input[type="submit"] {
    @apply block;
  }
  li {
    @apply list-disc ml-4;
  }
  ul.place-list > li {
    padding: 0;
    margin: 0;
    list-style: none;
    @apply pl-10;
    position: relative;
    min-height: 64px;
  }
  ul.place-list > li h3 {
    @apply font-bold;
  }
  ul.place-list > li + li {
    @apply mt-2 pt-2 border-t-2 border-gray-200;
  }
  ul.place-list > li::before {
    content: url(../static/css/polygon.svg);
    display: flex;
    position: absolute;
    top: calc(50% - 12px);
    left: 0;
  }
  
}

#Ruka1 {
  opacity: calc(var(--opacity-hands, 0) / 5)
}
#Ruka2 {
  opacity: calc(var(--opacity-hands, 0) / 10)
}
#Ruka3 {
  opacity: calc(var(--opacity-hands, 0) / 20)
}
#Ruka4 {
  opacity: calc(var(--opacity-hands, 0) / 45)
}
#Ruka5 {
  opacity: calc(var(--opacity-hands, 0) / 65)
}
#Ruka6 {
  opacity: calc(var(--opacity-hands, 0) / 80)
}
#Ruka7 {
  opacity: calc(var(--opacity-hands, 0) / 110)
}
#Ruka8 {
  opacity: calc(var(--opacity-hands, 0) / 125)
}
#Ruka9 {
  opacity: calc(var(--opacity-hands, 0) / 150)
}